---
layout: default
title: GitLab Connect San Antonio
suppress_header: true
extra_css:
  - styles-2018.css
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline GitLab Connect San Antonio
        %h2.page-subtitle Presented by GitLab

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %h3 March 21, 2019, 3:00 pm - 7:00 pm
            %h4 Hotel Emma - 136 E. Grayson St. San Antonio, Texas 78215
            %p GitLab Connect San Antonio is a workshop covering real-life DevOps transformation stories as well as an interactive discussion on the difficulties and importance of getting started and moving forward on your DevOps journey.

            %p Whether you’re a GitLab expert, novice, or somewhere in between, join us in San Antonio to learn more.

            %p We will have local speakers, GitLab experts, and free food and drinks available to attendees.

            %p
              This event is at capacity. Register to be added to the waitlist.  
              
              Please notify us at
              %a{ href: "mailto:fieldmarketing@gitlab.com?subject=GitLabConnect%20San%20Antonio%20-%20Dietary%20Restrictions" }
                fieldmarketing@gitlab.com
              with any dietary restrictions.
            %br

        .col-md-4.col-md-offset-1
          %h2 This event has ended. 
          %p 
            Please
            %a{:href => "https://page.gitlab.com/connect-sanantonio.html"}join us at our upcoming event in San Antonio!
